@import '../../../styles/vars';

.form {
  background: $secondary;
  padding: $base * 5 $base * 7;
  border-radius: $base * 3;

  @media (max-width: $w-sm) {
    padding: $base * 3;
  }
}

.controller {
  &:global(.MuiFormControl-root) {
    display: block;
  }
}

.form_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary;
  margin-bottom: $base * 5;
}

.box_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.snack {
  & svg {
    color: $primary;
  }

  & button:hover {
    background-color: $secondary;
  }
}
